<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
                <li><a target="_blank" href="https://nseindia.com">NSE Official</a></li>
                <li><a target="blank" href="https://www.moneycontrol.com/">Updated Market News</a></li>
                <li><a target="blank" href="https://economictimes.indiatimes.com/marketstats/pid-0,pageno-1,sortby-percentchange,sortorder-desc,sort-intraday.cms?marketcap=largecap%252Cmidcap">Top Gainers</a></li>
                <li><a target="blank" href="https://indiasharesinvestment.com/page/recommended-reading">Recommended Reading List</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
<a target="_blank"  href="https://www.amazon.com/gp/product/1535585951/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1535585951&linkCode=as2&tag=openwolf-20&linkId=5d63eae5fa32a9133b0cececcce2dbfc"><img border="0" src="https://indiasharesinvestment.com/assets/images/beginner-guide-to-trading-aziz-andrew-amazon-indiasharesinvestment-Thumbnail.jpg" ></a><img src="https://indiasharesinvestment.com/assets/images/beginner-guide-to-trading-aziz-andrew-amazon-indiasharesinvestment-Thumbnail.jpg" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />        </div>
            
</div>
